{% extends "base_generic.html" %}

{% block content %}
    <<h1>all borrowed books</h1>

    <div>
      {% if perms.catalog.can_mark_returned and perms.catalog.can_renew %}
          <ul>
            {% for book in bookinstance_list %}
            <li>
            <a href="{% url 'book-detail' book.book.pk %}">{{book.book.title}} </a>loaned to {{book.borrower.username}} - <a href="{% url 'renew-book-librarian' book.id %}">Renew</a>
            </li>
            {% endfor %}
          </ul>
       {% endif %}
    </<div>


{% endblock %}
